 .today-details {
    display: flex;
    justify-content: space-around;
    margin-top: .2rem;
  }

  .parameter {
    flex: 1 1 auto;
    text-align: center;
  }

  .parameter-name,
  .parameter-value {
    display: block;
  }
  .parameter-value {
  font-size:0.8em;
  }

  .counter-border-top {
    border-top: solid 1px #ccc;
    padding-top: .5rem;
    margin-top: .5rem;
  }

  .counter-status {
  padding: 0.25rem;
  margin: 0.25rem;
}

.counter-header {
  text-align: center;
}