<nb-card>  
  <nb-card-header>View Survey<nb-icon icon="close-outline" (click)="dismiss()" class='right'></nb-icon></nb-card-header>
  <nb-card-body>  
    <div class="form-group row">
            <label for="name" class="label col-sm-3 col-form-label">Audio</label>
            <div class="col-sm-9"><audio controls="" class="col-sm-12">
                <source [src]="sanitize(config.fileurl+detail.file_name)" type="audio/wav"></audio>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="label col-sm-3 col-form-label">Tester Name</label>
            <div class="col-sm-9">{{detail.sr_name}}
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="label col-sm-3 col-form-label">Tester Mobile</label>
            <div class="col-sm-9">{{detail.sr_mob}}
            </div>
          </div>
           <div class="form-group row">
            <label for="name" class="label col-sm-3 col-form-label">Audio Quality</label>
            <div class="col-sm-9">{{quality}}
            </div>
          </div>
           <div class="form-group row">
            <label for="name" class="label col-sm-3 col-form-label">Source Type</label>
            <div class="col-sm-9">{{type}}
            </div>
          </div>
           <div class="form-group row">
            <label for="name" class="label col-sm-3 col-form-label">Feedback</label>
            <div class="col-sm-9">{{detail.sr_feedback}}
            </div>
          </div>
           <div class="form-group row">
            <label for="name" class="label col-sm-3 col-form-label">Location</label>
            <div class="col-sm-9">        <div id="mapId2" class="col-sm-12"></div>
            </div>
          </div>
           
          
    <div class="form-group">
               <button class="cancel" nbButton status="basic" class='right'  (click)="dismiss()" >Close</button>
               
            </div> 

  </nb-card-body>
    
</nb-card>
