<nb-card>
      <nb-card-header>
        Summary
      </nb-card-header>
      <nb-card-body>

      	<div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Rate</th>
            </tr>
            </thead>
            <tbody>
            	<tr>
            		<td>Rafting -3<br/>
				Fish Spa -3<br/>
				B-Rafting(30.00 Minutes) -3</td>
            		<td>Rs. 1500</td>
            	</tr>
              <tr>
                <td>Zipline -2</td>
                <td>Rs. 600</td>
              </tr>
              <tr>
                <td>Camera -1<br/>
                VideoCamera -1</td>
                <td>Rs. 350</td>
              </tr>
              <tr>
                <th>Total</th>
                <th>Rs. 2450</th>
              </tr>
            </tbody>
        </table>
      </div>


      	<nb-card>
          <nb-card-body>
          <div class="row">
      		<div class="col-md-4"><p align="center">Total Rate</p><h4 align="center">2450</h4></div>
      		<div class="col-md-4"><p align="center">Received Cash</p>
            <div class="form-group">
              <input type="text" nbInput fullWidth placeholder="Enter Received Cash">
            </div>
          </div>
          <div class="col-md-4"><p align="center">Balance Cash</p><h4 align="center">550</h4></div>
      	</div>
      </nb-card-body>
      </nb-card>
      </nb-card-body>
  </nb-card>
