<nb-card>  
  <nb-card-header style="text-align: center;">Entry Ticket Adult</nb-card-header>
  <nb-card-body>  
    <p align="center"><button nbButton status="basic" size="large"><nb-icon icon="plus"></nb-icon></button></p>
    <p><input type="text" nbInput fullWidth fieldSize="large" placeholder="0"  style="text-align: center;"></p>
    <p align="center"><button nbButton status="basic" size="large"><nb-icon icon="minus"></nb-icon></button></p>
    <p align="center"><button nbButton status="success" size="large">Update</button></p>

  </nb-card-body>
    
</nb-card>
