
<nb-card>
  <nb-card-header>Ticket Verification <button class="float-right" nbButton size="small" outline status="primary"><nb-icon icon="sync-outline"></nb-icon> Offline Sync</button></nb-card-header>
  <nb-card-body>
  	<div class="row">
  		<div class="col-md-8 pb-1 pt-1">
  	<input type="text" nbInput fullWidth status="basic" placeholder="Ticket No."></div>

  	<div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center">
   <!--  <nb-button-group>
      <button nbButton status="primary"><nb-icon icon="search-outline"></nb-icon> Search</button>
      <button nbButton status="info"><nb-icon icon="camera-outline"></nb-icon> Scan</button>
    </nb-button-group> -->
</div>
</div>
  </nb-card-body>
  <nb-card-footer>

  <nb-card >
  <nb-card-header style="background-color: #f7f7f7;">
  <div class="row">
  <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center"><nb-icon icon="checkmark-circle-2" status="success"></nb-icon>&nbsp; Valid ticket</div>
  <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center"><nb-icon icon="calendar-outline"status="secondary"></nb-icon>&nbsp; 07/10/2021</div>
  <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center"><nb-icon icon="wifi"status="primary"></nb-icon>&nbsp; Online</div>
</div>
</nb-card-header>
  <nb-card-body>
    <div class="row">
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Destination : <strong>Karlad</strong></div>
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Counter : <strong>Main counter</strong></div>
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Attraction : <strong>Boating</strong></div>
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Previous stats : <strong>Not verified</strong></div>

</div>
  </nb-card-body>
  <nb-card-footer>
  <div class="row">
  		<div class="col-md-6 d-flex align-items-center justify-content-center">Amount : <strong> Rs. 1000</strong></div>
  		<div class="col-md-6 d-flex align-items-center justify-content-center"><button nbButton status="success"><nb-icon icon="checkmark-circle-2-outline"></nb-icon> Verify</button></div>
  	</div>

  		</nb-card-footer>
</nb-card>

</nb-card-footer>
</nb-card>
