<nb-card>  
  <nb-card-header>Verify<button nbButton status="primary" class='right' type = "submit" (click)="doOfflineVerSync()">Offline Sync</button></nb-card-header>
  <nb-card-body>  <!-- 
<zxing-scanner *ngIf="isOpen && qrResultString==''" (scanSuccess)="onCodeResult($event)"></zxing-scanner> -->
<qr-scanner *ngIf="isOpen && qrResultString==''" (scanSuccess)="onCodeResult($event)"></qr-scanner>

<div class="row" *ngIf="!isOpen">
      <div class="col-md-8 pb-1 pt-1">
    <input type="text" nbInput fullWidth status="basic" placeholder="Ticket No." class="form-control icon_mandatory left" ngModel name="ticketno" nbInput fullWidth  #ticketno><span *ngIf="errorResponseArray['ticket']"><font class='error'>{{errorResponseArray['ticket']}}</font></span></div>
<div class="col-md-2 pb-1 pt-1">
  <button nbButton status="primary" class='right' type = "submit" (click)="verify(ticketno)">Search</button>
</div>
<div class="col-md-2 pb-1 pt-1">
   <button nbButton status="primary" class='right' type = "submit" (click)="openCamera()">Start Scan</button>
 </div>
   


    <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center">
   <!--  <nb-button-group>
      <button nbButton status="primary"><nb-icon icon="search-outline"></nb-icon> Search</button>
      <button nbButton status="info"><nb-icon icon="camera-outline"></nb-icon> Scan</button>
    </nb-button-group> -->
</div>
</div>
</nb-card-body>
 <nb-card-footer *ngIf="hasInput">

  <nb-card >
  <nb-card-header style="background-color: #f7f7f7;">
  <div class="row">
  <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center" *ngIf="ticketStatus">
    <nb-icon icon="checkmark-circle-2" status="success"></nb-icon>&nbsp; Valid ticket</div>
   <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center" *ngIf="!ticketStatus">
    <nb-icon icon="checkmark-circle-2" status="danger"></nb-icon>&nbsp; Invalid ticket</div>
  <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center"><nb-icon icon="calendar-outline"status="secondary"></nb-icon>&nbsp; {{tdate}}</div>
  <div class="col-md-4 pb-1 pt-1 d-flex align-items-center justify-content-center"><nb-icon icon="wifi"status="primary"></nb-icon>&nbsp; {{network}}</div>
</div>
</nb-card-header>
  <nb-card-body>
    <div class="row">
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Destination : <strong>{{destName}}</strong></div>
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Counter : <strong>{{counterName}}</strong></div>
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Attraction : <strong>{{attrName}}</strong></div>
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center">Current status : <strong> {{prevText}}</strong></div>
  <div class="col-md-4 pb-3 d-flex align-items-center justify-content-center"  *ngIf="this.ticketcontent != null" >Ticket Details : <strong><span [innerHTML]="this.ticketcontent"></span></strong></div>

</div>


  </nb-card-body>
  <nb-card-footer>
  <div class="row">
      <div class="col-md-6 d-flex align-items-center justify-content-center">Amount : <strong>Rs. {{rate}} /-</strong></div>
      <div class="col-md-6 d-flex align-items-center justify-content-center"><button nbButton status="success"  (click)="doVerify()"  *ngIf="ticketStatus && !prevStatus && allowScan==config.OTNO"><nb-icon icon="checkmark-circle-2-outline"></nb-icon>Verify</button></div>
    </div>

      </nb-card-footer>
</nb-card>

</nb-card-footer>

</nb-card>