<div class="row" style="padding-bottom: 400px;">
  <div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button-selected">
  <nb-card-body>
  	<div class="count-container"><div class="count-box">10</div></div>
    <div class="ticket-button-item">Cycling</div>
  </nb-card-body>
</nb-card>
</div>

  <div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button">
  <nb-card-body>
    <div class="count-container"><div class="count-box">0</div></div>
    <div class="ticket-button-item">Entry Child</div>
  </nb-card-body>
</nb-card>
</div>

<div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button">
  <nb-card-body>
    <div class="count-container"><div class="count-box">0</div></div>
    <div class="ticket-button-item">Entry Adult</div>
  </nb-card-body>
</nb-card>
</div>

<div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button">
  <nb-card-body>
    <div class="count-container"><div class="count-box">0</div></div>
    <div class="ticket-button-item">Boating</div>
  </nb-card-body>
</nb-card>
</div>

<div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button">
  <nb-card-body>
    <div class="count-container"><div class="count-box">0</div></div>
    <div class="ticket-button-item">Cycling Children</div>
  </nb-card-body>
</nb-card>
</div>

<div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button">
  <nb-card-body>
    <div class="count-container"><div class="count-box">0</div></div>
    <div class="ticket-button-item">Shooting - Serial shooting with crew</div>
  </nb-card-body>
</nb-card>
</div>

<div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button">
  <nb-card-body>
    <div class="count-container"><div class="count-box">0</div></div>
    <div class="ticket-button-item">Boating - Speed boat</div>
  </nb-card-body>
</nb-card>
</div>

<div class="col-sm-6 col-6 col-md-4 col-lg-3">
  <nb-card class="ticket-button">
  <nb-card-body>
    <div class="count-container"><div class="count-box">0</div></div>
    <div class="ticket-button-item">Boating - Kettu vallam</div>
  </nb-card-body>
</nb-card>
</div>

</div>

<div class="summary-container">
  <p align="center"><button nbButton fullWidth status="success">&nbsp;&nbsp; Print Rs.500 &nbsp;&nbsp;</button></p>
  <p align="center"><strong>Ticket Summary </strong></p>
<div class="summary-box">

  <div class="row border-bottom" (click)="add()">
        <div class="col-sm-6 col-6 col-md-6 d-flex align-items-center p-1">Entry Ticket</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center p-1">2</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1">40</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1"><button nbButton ghost status="danger" size="tiny"><nb-icon icon="trash"></nb-icon></button></div>
      </div>

      <div class="row border-bottom">
        <div class="col-sm-6 col-6 col-md-6 d-flex align-items-center p-1">Boating - Kettu vallam</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center p-1">2</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1">40</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1"><button nbButton ghost status="danger" size="tiny"><nb-icon icon="trash"></nb-icon></button></div>
      </div>

      <div class="row border-bottom">
        <div class="col-sm-6 col-6 col-md-6 d-flex align-items-center p-1">Cycling Children</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center p-1">2</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1">40</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1"><button nbButton ghost status="danger" size="tiny"><nb-icon icon="trash"></nb-icon></button></div>
      </div>

      <div class="row border-bottom">
        <div class="col-sm-6 col-6 col-md-6 d-flex align-items-center p-1">Shooting - Serial shooting with crew</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center p-1">2</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1">40</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1"><button nbButton ghost status="danger" size="tiny"><nb-icon icon="trash"></nb-icon></button></div>
      </div>

      <div class="row border-bottom">
        <div class="col-sm-6 col-6 col-md-6 d-flex align-items-center p-1">Boating - Speed boat</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center p-1">2</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1">40</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1"><button nbButton ghost status="danger" size="tiny"><nb-icon icon="trash"></nb-icon></button></div>
      </div>

      <div class="row border-bottom">
        <div class="col-sm-6 col-6 col-md-6 d-flex align-items-center p-1">Entry Adult</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center p-1">2</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1">40</div>
        <div class="col-sm-2 col-2 col-md-2 d-flex align-items-center justify-content-end p-1"><button nbButton ghost status="danger" size="tiny"><nb-icon icon="trash"></nb-icon></button></div>
      </div>

      </div>
  </div>

  <div class="print-container">
  <p align="center"><button nbButton status="basic">Clear</button> &nbsp; <button nbButton outline status="success">Enter Cash</button> &nbsp; <button nbButton status="info">Cash</button></p>
</div>
