<nb-card>  
  <nb-card-header>Weather Alerts <nb-icon icon="close-outline" (click)="dismiss()" class='right'></nb-icon></nb-card-header>
  <nb-card-body>  
      <form  #form="ngForm" (ngSubmit)="doClassCreate(form)">

        <div class='row'>
        <div class="form-group col-sm-6">
            <label for="alertdate" class="label  col-form-label">Date:</label>
              <input class='icon_mandatory' ngModel name="alertdate" required type="date" nbInput fullWidth  #alertdate [status]="errorResponseArray['alertdate']!==''?'danger':'basic'"  placeholder="Select date"><span *ngIf="errorResponseArray['alertdate']"><font class='error'>{{errorResponseArray['alertdate']}}</font></span>
          </div>

          <div class="form-group  col-sm-6">
            <label for="attachment" class="label col-form-label">Attachments:</label>
              <input ngModel name="attachment" required type="file" accept=".jpg,.pdf" nbInput fullWidth  #attachment (change)="LogoUploaded($event)">
          </div>

        </div>

        <div class='row'>
         <div class="form-group col-sm-6">
            <label for="description" class="label col-form-label">Description:</label>
              <input  class='icon_mandatory' type="text" ngModel name="description" nbInput fullWidth  #description placeholder="Enter the Description"[status]="errorResponseArray['description']!==''?'danger':'basic'" ><span *ngIf="errorResponseArray['description']"><font class='error'>{{errorResponseArray['description']}}</font></span>
            </div>

            <div class="form-group col-sm-6">
            <label for="general" class="label col-form-label">General:</label>
            <input  class='icon_mandatory' type="checkbox" ngModel name="general" fullWidth  #general status>

            </div>
          </div> 

           <div class='row'>
          <div class="form-group col-sm-6">
            <label for="name" class="label col-form-label">Destination:</label>
            <div class="col-sm-7" *ngIf="count == 1">
              <label class="col-sm-7" *ngFor="let item of destinations" value="{{item['destId']}}">{{item['destName']}}
            </label>
            </div>

            <div class="col-md-12 ml-4 mb-2" *ngIf="count > 1">
                <div class="form-check" *ngFor="let item of destinations;let j =index;">
                  <input type="checkbox" value="" id="defaultCheck1"
                    (click)="checkBoxClicked(item['destId'] )">
                  <label class="form-check-label" for="defaultCheck1">{{item['destName']}}
                  </label>
                </div>
              </div>
          </div>
        </div>

    <div class="form-group">
        <button class="cancel" nbButton status="danger" (click)="dismiss()" >Close</button>
        <button nbButton status="primary" class='right' type = "submit">Submit</button>
       </div> 
     </form>
  </nb-card-body>
    
</nb-card>
