<nb-card>
    <nb-card-header> Conduct Survey </nb-card-header>
    <nb-card-body>
      <form #form="ngForm" >
        <div *ngIf="gpsTrack">
         <nb-progress-bar [value]="rectime"  status="warning" [displayValue]="false">{{rectime}}</nb-progress-bar><br/>

        <div class="form-group" >
              <button *ngIf="!recording" mat-mini-fab nbButton status="primary" class='col-sm-12' (click)="initiateRecording()">Start Recording</button>
               <button *ngIf="recording" mat-mini-fab nbButton status="danger" class='col-sm-12' (click)="stopRecording()">Stop Recording</button>
           </div>
           <div class="form-group" >
              <audio controls="" *ngIf="url!=''" class="col-sm-12">
                <source [src]="sanitize(url)" type="audio/wav"></audio>
                  <span
            *ngIf="errorResponseArray['url']">
            <font class='error'>{{errorResponseArray['url']}}</font>
          </span>
        </div>

        <div class="col-sm-12 row form-group" >

             <label for="name" class="label col-sm-3 col-form-label">Tester Name:</label>
             <div class="col-sm-9">
                <input class='icon_mandatory'   [(ngModel)]="name" name="name" required type="text" nbInput fullWidth [status]="errorResponseArray['name']!==''?'danger':'basic'" placeholder="Enter the Name"><span
            *ngIf="errorResponseArray['name']">
            <font class='error'>{{errorResponseArray['name']}}</font>
          </span>
               
            </div>
            </div>
            <div class="col-sm-12 row form-group" >
             <label for="name" class="label col-sm-3 col-form-label">Tester Mobile:</label>
             <div class="col-sm-9">

                 <input class='icon_mandatory' [(ngModel)]="mob" name="mob" required type="text" nbInput fullWidth 
            [status]="errorResponseArray['mob']!==''?'danger':'basic'" placeholder="Enter the Mobile No."><span
            *ngIf="errorResponseArray['mob']">
            <font class='error'>{{errorResponseArray['mob']}}</font>
          </span>
               
            </div>
            </div>
            <div class="col-sm-12 row form-group" >
             <label for="name" class="label col-sm-3 col-form-label">Audio Quality</label>
             <div class="col-sm-9" >
               <nb-radio-group ngModel name="quality" #quality >
            <nb-radio
              [value]="1" (valueChange)="getSelectValue(1)" >
              Very Good
            </nb-radio>
            <nb-radio 
              [value]="2" (valueChange)="getSelectValue(2)">
              Good
            </nb-radio>
            <nb-radio
              [value]="3" (valueChange)="getSelectValue(3)" >
              Poor
            </nb-radio>
          </nb-radio-group>
          <span
            *ngIf="errorResponseArray['quality']">
            <font class='error'>{{errorResponseArray['quality']}}</font>
          </span>
            </div>
        </div>
        <div class="col-sm-12 row form-group" >
             <label for="name" class="label col-sm-3 col-form-label">Source Type</label>
             <div class="col-sm-9">
               <nb-radio-group ngModel name="types" #types>
            <nb-radio
              [value]="1" (valueChange)="getSelectTypeValue(1)" >
              Car Radio
            </nb-radio>
            <nb-radio
              [value]="2" (valueChange)="getSelectTypeValue(2)" >
              Normal Radio
            </nb-radio>
          </nb-radio-group>
           <span
            *ngIf="errorResponseArray['type']">
            <font class='error'>{{errorResponseArray['type']}}</font>
          </span>
            </div>
        </div>
        <div class="col-sm-12 row form-group" >
             <label for="name" class="label col-sm-3 col-form-label">Feedback</label>
             <div class="col-sm-9">
                  <textarea   rows="5" nbInput fullWidth  placeholder="Feedback" [(ngModel)]="feedback" name="feedback"></textarea>
            </div>
        </div>
        <br/>
</div>
<div *ngIf="!gpsTrack">
         <nb-alert status="danger">Please turn on the GPS of your device and reload the app.</nb-alert>
      </div>
        <div id="mapId2" class="col-sm-12"></div><br/>
        <span
            *ngIf="errorResponseArray['gps']">
            <font class='error'>{{errorResponseArray['gps']}}</font>
          </span>
<div *ngIf="gpsTrack">
        <div class="form-group"> 
            <button mat-mini-fab nbButton status="primary" class='col-sm-12' (click)="dosubmit()">Submit</button><span class='error' *ngIf="!noError">Please fill all mandatory fields</span>
        </div>
      </div>
      








</form>



    </nb-card-body>
</nb-card>