<nb-card>
  <nb-card-header>
    <span class="float-left">
      <h6>Invalid Tickets</h6>
    </span> 


  </nb-card-header>
  <nb-card-body>

    <br />
    <div class="row ">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>Ticket No.</th>
              <th>User</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of config.itemdata;let i=index;">
              <td> {{(((config.currentpageno-1)*config.itemsPerPage)+(i+1))}}</td>
              
              <td> {{item['it_time'] | date: 'dd/MM/yyyy'}} </td>
             <td>{{item['it_ticket']}}</td>
              <td>{{item['usr_name']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <nav class="mt-3">
      <ul class="pagination justify-content-center">
        <li [class]="config.currentpageno==1?'page-item disabled':'page-item'">
          <button class='page-link' (click)="config.goPageno(1,config.pageurl)" tabindex="-1">First</button>
        </li>
        <li class='page-item' *ngFor="let item of config.paging;let i=index;"><button
            [class]="config.currentpageno==(i+1)?'page-linkactive ':'page-link'"
            (click)="config.goPageno((i+1),config.pageurl)">{{(i+1)}}</button></li>
        <li [class]="config.currentpageno==config.paging.length?'page-item disabled':'page-item'">
          <button class='page-link' (click)="config.goPageno(config.paging.length,config.pageurl)">Last</button>
        </li>
      </ul>
    </nav>

  </nb-card-body>
</nb-card>