<nb-card>
<nb-card-header>
        <span class="float-left"><h6>Offline Tickets</h6></span>
        <span class="float-right"><button nbButton  status="primary" [disabled]="clicked" *ngIf="syncData" (click)="sync(); clicked = true;"  >Sync Data</button></span>
      </nb-card-header>
      <nb-card-body>
    <div class="row ">
      <div class="table-responsive" *ngIf="count>0">
          <table class="table table-bordered">
            <thead>
              <tr>               
                <th>#</th>
                <th>Action</th>
                <th>Time</th>
                <th>Name</th>
                <th>Mobile</th>
                
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ticketDetails;let i=index;" ><td>  {{(i+1)}}</td>
                  <td><button nbButton  (click)="view(item)">
     <i class="fa fa-eye"></i> </button>
     </td>
    <td> {{item['date']}} @ {{item['time']}}</td>
    <td> {{item['name']}}</td>
    <td> {{item['mob']}}</td>
  </tr></tbody></table>



<div class="table-responsive" *ngIf="count==0">
  No Data added yet
</div>
</div></div>
    
      </nb-card-body>
  </nb-card>
